.cover-page {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #3a3f4a;
}

.project-title {
  font-size: 2.5rem;
  color: #ffffff;
}

.project-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.team-section {
  margin: 20px 0;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.member {
  text-align: center;
}

.bio-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.course-info {
  margin: 20px 0;
  font-size: 1.2rem;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  margin: 10px 0;
}

.links-section a {
  color: #007bff;
  text-decoration: none;
}

.links-section a:hover {
  text-decoration: underline;
}

.proceed-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proceed-button:hover {
  background-color: #0056b3;
}

.summary-section {
  margin-top: 20px;
  text-align: center
}

.summary-section h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.project-summary {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  overflow-wrap: break-word;
}