#CMake
build/

.vs

#CLion
.idea/

CMakeUserPresets.json
/data/
ort_install/
python/chess_dir/ai_chess.cpython-312-x86_64-linux-gnu.so
onnxruntime-linux-x64-1.18.0.tgz
onnxruntime-linux-x64-1.18.0/
old_pyx.txt
src/chess_engine_cython.html
src/chess_engine_cython.cpp
